.slide-in-fwd-center{-webkit-animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center .4s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: slide-in-fwd-center 0.5s ease-in-out;
  }


    

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    position:relative;
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

 @-webkit-keyframes color-change-3x {
    0% {
      background: #41eeee;
    }
    25%{
        background: #4831f5;
    }
    50% {
      background: #b037d4;
    }
    75%{
        background:#4831f5;
    }
    100%{
        background: #41eeee;
    }

  }

  

.top-bar{
    animation: color-change-3x 30s ease-in-out infinite;
    background:linear-gradient(125deg,#41eeee,#4831f5,#b037d4);
    padding: 10px;
    
    
    display: flex;
    justify-content: center;
    
}

#top-bar_id{
    font-size:25px;
    color:white;
    font-weight: bold;
}

.middle{
    display: flex;
    justify-content: flex-start
}

.sns-tap{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 5px;
}

.sns{
    height: 125px;
    width:  125px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.8s 0.2s;
    
    

}
.slide-fwd-center{-webkit-animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both}

 @-webkit-keyframes slide-fwd-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}@keyframes slide-fwd-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}
.sns:hover{
    height: 150px;
    width:  150px;
}

.btn{
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    border:none;
    cursor:pointer;
    


}



.btn-class{
    margin: auto;
    width: 50%;
}

#kakao{
    background-color: #FAE100;
}

#naver{
    background-color: #2DB400;
}

#daum{
    background-color:#6995fc;
}

#gmail{
    background-color: #d6434d;
}
.sns-managing-tap{
    background-color: #e9eaee;
    height: 620px;
    width: 1300px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    

}

#field{
    display: flex;
    background-color: white;
    border-radius: 5px;
    flex-direction: column;
    
}







.manage-top-bar{
    display: flex;
    
    margin: 0;
}

#user-name{
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}

.manage-top-bar_btn{
    margin: 10px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 5px;
}

.manage-middle-bar{
    height: 540px;
}

.mail-list{
    position: relative;
    left: 20px;
    top:10px;
    

}

#manage-top-bar_N{
    background: #2DB400;
}

#manage-top-bar_D{
    background:#6995fc;
}
#manage-top-bar_G{
    background:#d6434d;
}

ul{
    list-style-type: none;

  }
li{
    border-bottom: 1px solid #efeffe;
    margin-bottom: 5px;
    padding: 5px 0px 5px 5px;
  }

  li:last-child{
      border-bottom: 0px;
  }
  li::before{
      content: ">";
      display: inline-block;
      vertical-align: middle;
      padding: 0px 5px 6px 0px;
  }