<html>
  <head>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>SNS-manager</title>
    <link href="{{ url_for('static', filename='CSS/Idinter.css') }}" rel="stylesheet">




</head>

  <body>
    <div class="top-bar">
        <div id="top-bar_id">{{userid}}</div>
    
        

    </div>

    <div class="middle">
        <button type="button" class="btn" id="n" onclick="add_interform('N')">
            N 연동해체
          </button>
          <button type="button" class="btn" id="d" onclick="add_interform('D')">
            D 연동해체
          </button>
          <button type="button" class="btn" id="g" onclick="add_interform('G')">
            G 연동해체
          </button>

    </div>
    <script>

        function add_interform(params) {
            var form = document.createElement('form');
            form.setAttribute('method','post');
            document.charset = "utf-8";
            var hiddenField = document.createElement('input');
            hiddenField.setAttribute('type','hidden');
            hiddenField.setAttribute('name', 'mailtype_un');
            hiddenField.setAttribute('value', params);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    
    
    </script>
    
    <div id="interform">

    </div>
    
  </body>


</html>
