<html>
  <head>
    <link href="{{ url_for('static', filename='CSS/index.css') }}" rel="stylesheet">
  </head>

  <body>
    <form action="index.html" method="post" class="LoginForm">
      <h2>Login</h2>
      <div class="idForm">
        <input type="text" class="id" placeholder="ID">
      </div>
      <div class="passForm">
        <input type="password" class="pw" placeholder="PW">
      </div>
      <button type="button" class="btn" onclick="button()">
        LOG IN
      </button>
      <script>
      	let button = () => {
        	alert('login Button !')
        }
      </script>
      <div class="bottomText">
        Don't you have ID? <a href="register.html">sign up</a>
      </div>
    </form>
  </body>
</html>
