<html>
  <head>
    <link href="{{ url_for('static', filename='CSS/index.css') }}" rel="stylesheet">
  </head>

  <body>
    <form action="/info" method="post" class="LoginForm">

      <h2>SNS-manager</h2>


      <div class="idForm">
        <input type="text" class="id" placeholder="ID">
      </div>


      <div class="passForm">
        <input type="password" class="pw" placeholder="PW">
      </div>

      
      <button type="submit" class="btn">
        LOG IN
      </button>



      <div class="bottomText">
        Don't you have ID? <a href="{{ url_for('register')}}">sign up</a>
      </div>
    </form>
  </body>
</html>
