<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS-manager</title>
    <link href="{{ url_for('static', filename='CSS/main.css') }}" rel="stylesheet">

    <script> 

    

        function del_div(){
            var cell = document.getElementById('field');
                cell.innerHTML = '  <div id="main-text" style="background-color: #e9eaee; text-align: center; font-size: 30px; font-weight: bold; color: gray;">SNS Manager</div>';
            
        }
       
      
        


        function add_div_K(){
            var divN = document.createElement('div');

            div.innerHTML = document.getElementById().innerHTML;
            document.getElementById('field').appendChild;
        }

        function add_div_N(){

            


         
                var cell = document.getElementById('field');
                cell.innerHTML = '';
                var div = document.createElement("div");

                div.innerHTML = `

    <div id="divN">
        <div class="manage-top-bar">
            <button class="manage-top-bar_btn" id="manage-top-bar_N" onclick='del_div()'>X</button>
            
            <button class="manage-top-bar_btn" id="manage-top-bar_N" onclick = "window.open('https://www.google.com/intl/ko/gmail/about/')">Naver Link</button>
            <div id="user-name">사용자: {{userid}}</div>
            <div id="user-name">네이버 아이디: {{Nid}}</div>
        </div>
    <div class="manage-middle-bar">
        <div class="mail-list">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div>
        <div class="look-and-send-mail">
            <div class="mail-contents" id="N-mail-contents"></div>
            <textarea id="reply-contents" name="reply-contents"
                 rows="5" cols="100">
            </textarea>
            <button class="manage-top-bar_btn" id="manage-top-bar_N">Send Mail</button>
            

        </div>
    </div>
</div>
    
                
                `;
                document.getElementById('field').appendChild(div);
              
                

          
        }
        function add_div_D(id){
            var cell = document.getElementById('field');
              cell.innerHTML = '';
                var div = document.createElement("div");

                div.innerHTML = `

    <div id="divD">
        <div class="manage-top-bar">
            <button class="manage-top-bar_btn" id="manage-top-bar_D" onclick='del_div()'>X</button>
            
            <button class="manage-top-bar_btn" id="manage-top-bar_D" onclick = "window.open('https://www.google.com/intl/ko/gmail/about/')">Daum Link</button>
            <div id="user-name">사용자: {{userid}}</div>
            <div id="user-name">다음 아이디: {{Did}}</div>
        </div>
    <div class="manage-middle-bar">
        <div class="mail-list">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div>
        <div class="look-and-send-mail">
            <div class="mail-contents" id="D-mail-contents"></div>
            <textarea id="reply-contents" name="reply-contents"
                 rows="5" cols="100">
            </textarea>
            <button class="manage-top-bar_btn" id="manage-top-bar_D">Send Mail</button>
            

        </div>
    </div>
</div>
    

                
                `;
                document.getElementById('field').appendChild(div);

               
                
          

        }
        function add_div_G(id){
    
                var cell = document.getElementById('field');
              cell.innerHTML = '';
                var div = document.createElement("div");

                div.innerHTML = `

    <div id="divG">
        <div class="manage-top-bar">
            <button class="manage-top-bar_btn" id="manage-top-bar_G" onclick='del_div()'>X</button>
            
            <button class="manage-top-bar_btn" id="manage-top-bar_G" onclick = "window.open('https://www.google.com/intl/ko/gmail/about/')">google Link</button>
            <div id="user-name">사용자: {{userid}}</div>
            <div id="user-name">구글 아이디: {{Gid}}</div>
        </div>
    <div class="manage-middle-bar">
        <div class="mail-list">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div>
        <div class="look-and-send-mail">
            <div class="mail-contents" id="G-mail-contents"></div>
            <textarea id="reply-contents" name="reply-contents"
                 rows="5" cols="100">
            </textarea>
            <button class="manage-top-bar_btn" id="manage-top-bar_G">Send Mail</button>
            

        </div>
    </div>
</div>
    

                
                `;
                document.getElementById('field').appendChild(div);
        }


    
    </script>


</head>
<body>
    <div class="top-bar">
        <div id="top-bar_id">{{userid}}</div>
        <a href="{{ url_for('Idinter')}}" id="top-bar_id" >이메일-연동하기</a>
        <a href="{{ url_for('logout')}}" id="top-bar_id" >로그아웃</a>
        

    </div>

    <div class="middle">
        <div class="sns-tap">
        <div class="sns" id="kakao">
            <div class="btn-class">
            <button type="button" class="btn" onclick="add_div_K()">
                K
              </button>
                

              </div>
        </div>
        <div class="sns" id="naver">
            <div class="btn-class">
            <button type="button" class="btn" onclick="add_div_N()">
                N
              </button>

              </div>
        </div>
        <div class="sns" id="daum">
            <div class="btn-class">
            <button type="button" class="btn" onclick="add_div_D()">
                D
              </button>
  
              </div>
        </div>
        <div class="sns" id="gmail">
            <div class="btn-class">
            <button type="button" class="btn" onclick="add_div_G()">
                G
              </button>

              </div>
        </div>
        </div>
        <div class="sns-managing-tap">
            
            <div id='field'>
                <div id="main-text" style="background-color: #e9eaee; text-align:center; font-size: 30px; font-weight: bold; color: gray;">SNS Manager</div>
                
            </div>
            
        </div>
    </div>
    
</body>
</html>