<html>
  <head>
    <link href="{{ url_for('static', filename='CSS/index.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>SNS-manager</title>

</head>

  <body>
    <form method="POST" id="LoginForm" autocomplete='off' class="LoginForm" name="LoginForm" style="height: 470px;">
      <h2>Regigster</h2>
      <div class="emailForm">
        <input type="email" class="email"  id="useremail" placeholder="email" name="useremail" required>
    </div>
      <div class="idForm">
        <input type="text" class="id" id="userid" placeholder="ID" name="userid" required>
      </div>
      <div class="passForm">
        <input type="password" class="pw" id="password" placeholder="PW" name="password" required>
      </div>
      <div class="passForm">
        <input type="password" class="pw" id="re_password" placeholder="Re-PW" name="re_password" required>
      </div>
      <button class="btn" onclick="test()">
        Resister
      </button>
      <script>
        function test() {
          var p1 = document.getElementById('password').value;
          var p2 = document.getElementById('re_password').value;
          var id =document.getElementById('userid').value;
          var em = document.getElementById('useremail').value
    
          if(em==""){
              alert("이메일을 입력하세요.");
              return false;
          }
          else if(id==""){
              alert("ID를 입력하세요.");
              userid.focus();
              return false;
          }
          else if(p1==""){
              alert("비밀번호를 입력하세요.");
              return false;
          }
          else if( p1 != p2 ) {
            alert("비밀번호가 일치 하지 않습니다");
            return false;
          } else{
            document.LoginForm.submit();
          }
        }
        </script>

    </form>
  </body>
</html>
